#main textarea, #main input[type="text"] {
  color: white;
}

.mod_article.shop-intro {
  width: 90%;
  max-width: 1100px;
  .ce_text {
    h1 {
      color: #c99c00;
    }
  }
}

.mod_article:not(:first-child).shop-list {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 3%;
}

.shop-item {
  text-decoration: none;
}

.shop-item.list {
  width: 31.33333%;
  margin: 25px 0;
  h3 {
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 17px;
  }
  p {
    margin: 0;
    &.price {
      font-weight: bold;
    }
  }
  .list-image-wrapper {
    overflow: hidden;
    .list-image {
      height: 0;
      padding-bottom: 100%;
      transition: transform 500ms;
    }
  }
  &:hover .list-image-wrapper .list-image {
    transform: scale(1.05);
  }
}

#main .shop-item.detail {
  display: flex;
  .hero-image {
    .content-swiper {
      width: 100%;
      height: 500px;
      .swiper {
        width: 100%;
        height: 100%;
        .content-image {
          width: 100%;
          height: 100%;
          figure {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .swiper-button-next,.swiper-button-prev {
        width: 45px;
        background: transparent;
        border: none;
        &:after {
          content: '';
          background: url("/files/assets/layout/to-top.svg") no-repeat 0/contain;
          position: absolute;
          top: 0;
          left: 0;
          width: 45px;
          height: 45px;
        }
      }
      .swiper-button-next:after {
        transform: rotate(90deg);
      }
      .swiper-button-prev:after {
        transform: rotate(-90deg);
      }
      .swiper-pagination-bullet-active {
        background: #29676A;
      }
    }
  }
  .description {
    h1 {
      font-size: 22px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
    }
    p {
      line-height: 1.5em;
    }
    .price {
      font-weight: bold;
    }
  }
  > p {
    margin: 30px 0;
  }
  .shop-item-detail-left {
    width: 50%;
    .slider-control > a {
      &.slider-prev,&.slider-next {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .shop-item-detail-right {
    width: 50%;
    padding: 10px 50px;
    h1 {
      margin-bottom: 20px;
    }
    p {
      margin: 40px 0;
    }
    .current-basket-info {
      margin-top: 40px;
      p {
        margin: 20px 0;
      }
    }
  }
}

#main .basket-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
  .ce_form {
    margin-top: 200px;
    h2 {
      font-family: 'Open Sans', sans-serif;
    }
    .formbody {
      .widget {
        max-width: initial;
      }
      .widget-submit button {
        background: none;
        color: #2e8bb6;
        font-family: 'Open Sans', sans-serif;
        float: none;
        text-transform: uppercase;
        width: auto;
        padding: 12px;
        font-weight: bold;
        border: 2px solid black;
        transition: color 250ms;
        &:hover {
          color: #c99c00;
        }
      }
    }
  }
}


#container .shop-item.basket {
  display: none;
  margin: 20px 0;
  padding: 0 0 20px;
  &.active {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    &:not(.last) {
      border-bottom: 1px solid black;
    }
  }
  .list-image-wrapper {
    width: 200px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .basket-item-info {
    h3 {
      margin: 0;
    }
    p {
      margin: 8px 0;
    }
    .amount {
      margin-top: 30px;
    }
  }
  .price,.amount,.sum  {
    span {
      font-weight: bold;
    }
  }
  .amount {
    a {
      display: inline-block;
      width: 17px;
      height: auto;
      margin: 0 4px;
      transform: translateY(4px);
      cursor: pointer;
    }
  }
}

.mod_article.shop-detail-article {
  width: 90%;
  max-width: 1100px;
  margin: 80px auto;
}

.shop-button {
  cursor: pointer;
  position: relative;
  background: white;
  border: 2px solid black;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 9px 13px;
  font-weight: 600;
  box-sizing: border-box;
  transition: color 250ms;
  &:after {
    position: absolute;
    opacity: 0;
    content: 'Hinzugefügt';
    top: -25px;
    right: 20px;
    width: auto;
    height: 20px;
    color: black;
    background: #F1EDE8;
    border-radius: 5px;
    padding: 12px;
    cursor: initial;
    transition: top 350ms ease-out, opacity 350ms ease-out;
    z-index: -1;
  }
  &.clicked:after {
    top: -50px;
    opacity: 1;
  }
  &.after-click:after {
    top: -75px;
    opacity: 0;
  }
  &:hover {
    color: #c99c00;
    &:after {
      color: black;
    }
  }
}

p.remove a {
  cursor: pointer;
}

.invoice-form {
  width: 60%;
  .widget-explanation {
    h2 {
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  .widget-text,.widget-textarea {
    margin: 10px 0;
    label {
      display: inline-block;
      width: 29%;
      padding-top: 10px;
      box-sizing: border-box;
      vertical-align: top;
      cursor: pointer;
    }
    input,textarea {
      display: inline-block;
      width: 70%;
      padding: 10px 15px;
      font-family: 'Raleway', sans-serif;
      box-sizing: border-box;
      border: none;
      background: #eee;
      outline: none;
      cursor: pointer;
      transition: filter 250ms;
      &:hover {
        filter: brightness(1.035);
      }
    }
  }
  .widget-submit {
    width: 71%;
    float: right;
    transform: translateX(4px);
    button {
    }
  }
}

.empty-basket-info {
  display: none;
}

.mod_article:not(:first-child).basket-info-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.current-basket-info {
  border-top: 1px solid;
  & > p {
    font-weight: bold;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
  }
}

.basket-sum {
  border-top: 1px solid;
  padding-left: 250px;
  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  p {
    margin-top: 0;
    font-weight: bold;
    font-size: 23px;
  }
}

.current-basket-info p:first-child {
  &.single {
    .plural {
      display: none;
    }
  }
}

body.basket-page .current-basket-info {
  border-top: none;
  border-bottom: 1px solid;
  p:nth-child(2) {
    display: none;
  }
}


@media screen and (min-width: 1800px) {
  .mod_article:not(:first-child).shop-list {
    gap: 4%;
  }

  .shop-item.list {
    width: 22%;
  }
}

@media screen and (max-width: 769px) {
  .shop-item.basket .list-image-wrapper {
    width:100%;
    height:auto;
  }

  .mod_article:not(:first-child).shop-list {
    gap: 4%;
  }

  .shop-item.list {
    width: 48%;
  }

  .invoice-form .widget-text label, .invoice-form .widget-textarea label {
    width: 100%;
  }

  .invoice-form .widget-text input, .invoice-form .widget-text textarea, .invoice-form .widget-textarea input, .invoice-form .widget-textarea textarea {
    width: 100%;
  }

  .invoice-form {
    width: 100%;
    .widget-submit {
      width: 100%;
      transform: none;
    }
  }

  .mod_article:not(:first-child).shop-detail-article {
    width:90%;
    margin-left:auto;
    transform:none;
    margin-right: auto;
  }

  body.shop-detail-page #container #main .inside {
    margin-bottom:0;
  }

  .basket-sum {
    padding-left: 0;
  }

  .shop-item.basket.active {
    gap: 10px;
  }


}
