#container .owl-carousel .owl-item img,#container .rvs-nav-container .rvs-nav-item .rvs-nav-item-inside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hassticky #header .header-social-icons {
  display: block;
  left: 380px;
  border-left: 2px solid #bbbcbc;
  padding-left: 20px;
}

.layout_short_im_netz_gefunden {
	display: block !important;
}

.short_im_netz_gefunden_inside {
  max-width: 280px;
  height: 250px;
  margin: 0 auto;
}

.publikationen_short .ce_text::before {
  content: '»';
  position: absolute;
  left: 9px;
  top: -6px;
  font-size: 32px;
  color: #f8f8f8;
}

#main h1 {
  border: none;
  margin-bottom: 60px;
}

.desktop {
  border-bottom: 1px solid #868176;
}

.vorstand_wrapper, .vorstand-item, .vorstand_wrapper .ce_text.first .inside-wrapper {
  padding-bottom: 0;
}

.vorstand-item, .ce_text.first .inside-wrapper {
  padding-top: 0;
}

.ce_text .inside-wrapper {
  padding-top: 30px;
}

.inside-wrapper-special {
  padding-top: 10vw;
}

.ce_sliderStart {
  width: 100%;
  max-width: initial !important;
  position: relative;
  margin-bottom: -5px;
}

.ce_sliderStart .ce_slider_text {
  position: absolute;
  bottom: 2vw;
  width: 80%;
  max-width: 1100px;
  left: 50%;
  transform: translateX(-50%);
}

.ce_sliderStart .ce_slider_text h3,.ce_sliderStart .ce_slider_text h2 {
  display: table;
  background: #c99c00;
  padding: 4px 8px;
  margin-bottom: 7px;
  font-size: 34px;
}

.ce_sliderStart .ce_slider_text p {
  display: inline-block;
  background: #c99c00;
  padding: 4px 8px;
  font-size: 18px;
  font-family: 'Bree Serif', serif;
}

.ce_sliderStart .ce_slider_text blockquote {
  padding-top: 0;
}

.ce_sliderStart .ce_slider_text p a {
  color: white;
}

.ce_sliderStart .ce_slider_text p a:hover {
  color: white;
}

.header-image img {
	max-height: 60vh;
	object-fit: cover;
}

.header-image .ce_slider_text p a, .header-slider .ce_slider_text p a {
  background-position-y: 5px;
}

.slider-control {
  position: initial !important;
  height: 0 !important;
}

.slider-control > .slider-menu {
  top: initial;
  bottom: 10px;
}

.slider-control > .slider-menu b {
  color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  display: inline-block;
  background: #c99c00;
  margin-right: 8px;
}

.slider-control > .slider-menu b.active {
  color: transparent;
  background: white;
}

.slider-control > a {
  position: absolute;
  top: 90%;
  width: 80px;
  transform: translateY(-50%);
}

.slider-control > a.slider-prev {
  left: 0;
}

.slider-control > a.slider-next {
  right: 0;
}
.ce_sliderStart .content-slider .slider-wrapper .ce_text figure img {
	max-height: 60vh;
  width: 100%;
  object-fit: cover;
}

.header-circle {
  top: 36vw;
}

.inside .mod_article:nth-child(5) {
  margin-top: 0;
}

.mod_navigation {
  padding-bottom: 0;
  top: 0;
}

.mobile_menu {
  z-index: 10000;
}

.mobile_menu .inner {
  background-color: #333;
}

.menu-header {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.menu-logo {
  width: 341px;
  margin: 0 auto;
}

.menu-logo > img {
  width: 100%;
  background: rgba(255,255,255,.9);
  padding: 50px;
}

.menu-close {
  z-index: 200000;
  position: absolute;
  display: block;
  top: 50px;
  right: 0;
  width: 80px;
  filter: invert(1);
}

.menu-lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1100px;
  margin: 100px auto 0;
}

.menu-lists > div {
  width: 31%;
}

.mobile_menu nav {
  margin-bottom: 20px;
}

.mobile_menu nav:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.mobile_menu nav ul li a, .mobile_menu nav ul li span {
  transition: color 250ms;
}

.mobile_menu nav ul li a:hover, .mobile_menu nav ul li span:hover {
  color: #c99d03;
}

.mobile_menu .mod_navigation {
    position: relative;
    z-index:999;
    top:initial;
    width:auto;
    background: initial;
}

.mobile_menu .mod_navigation ul {
  font-family: "Bree Serif", serif;
}

.mobile_menu nav h2 {
  font-size: 18px;
  font-family: "Bree Serif", serif;
  position: relative;
  color: #c99d03;
  padding-left: 35px;
}

.mobile_menu nav h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 27px;
  height: 28px;
  background: url("../../SMG/img/breadcrumbarrow.png") 0/contain no-repeat;
}

.mobile_menu .mod_navigation ul li:not(.active) strong, .mobile_menu .mod_customnav ul li:not(.active) strong {
  color: #c99d03;
  padding-left: 35px;
  position: relative;
  font-weight: normal;
  font-family: 'Bree Serif', serif;
}

.mobile_menu .mod_navigation ul li.active strong, .mobile_menu .mod_navigation ul li.forward strong {
  color: #c99c00;
  padding-left: 0;
}



.ce_sliderStart .ce_slider_text p a:hover {
  color: white !important;
}

.mobile_menu .mod_navigation ul.level_2 {
  width: 100%;
}

.mobile_menu .mod_navigation > div > div > ul > li {
  border-bottom: 1px solid;
}

.mobile_menu .mod_navigation ul li a, .mobile_menu .mod_navigation ul li span {
  color: white;
}

.mobile_menu li.submenu > a > span, .mobile_menu .mod_customnav ul li a,.mobile_menu .mod_customnav ul li.active strong {
  color: #c99c00;
  padding-left: 35px;
  position: relative;
  font-family: "Bree Serif", serif;
}

.mobile_menu .mod_navigation ul li:not(.active,.forward) strong:before, .mobile_menu .mod_customnav ul li strong:before,.mobile_menu .mod_customnav ul li.active strong:before, .mobile_menu li.submenu > a > span:before, .mobile_menu .mod_customnav ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 27px;
  height: 28px;
  background: url("../../SMG/img/breadcrumbarrow.png") 0/contain no-repeat;
}

.mobile_menu li.submenu_hide > ul {
  display: block;
}

.text_normal_wrapper .text-wrapper > div.mod_newslist {
	padding-bottom: 40px;
}

.mod_newslist h3 {
	font-size: 32px;
	margin: 40px auto;
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
	background: #333;
	display: table;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 35px;
	font-family: 'Bree Serif';
	font-weight: 400;
	color: white;
}

.text_normal_wrapper .text-wrapper > #self-test {
  .self-test-form {
    background: #cecece;
    padding: 20px 25px;
    border-radius: 5px;
    #question {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    .answers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      > div {
        width: 30%;
        padding: 12px 15px;
        border-radius: 5px;
      }
    }
  }
}


@media screen and (max-width: 669px) {
  .hassticky #header .header-social-icons {
    display: none;
  }
}

@media screen and (max-width: 1290px) {
  .blue-circle-mobile {
    display: none;
  }

  .header-image .ce_slider_text, .header-slider .ce_slider_text {
    bottom: initial;
    top: 10px;
  }

  .mod_article:nth-child(5) {
    margin-top: 0 !important;
  }

  #main h1 {
    margin-bottom: 0;
  }

  #container .owl-carousel {
    height: 20vh;
  }

  #container .owl-carousel .owl-stage-outer, #container .owl-carousel .owl-stage-outer .owl-stage, #container .owl-carousel .owl-stage-outer .owl-stage .owl-item, #container .owl-carousel .owl-stage-outer .owl-stage .owl-item .ce_text, #container .owl-carousel .owl-stage-outer .owl-stage .owl-item .ce_text figure {
    height: 100%;
  }

  .hassticky {
    padding-top: 0;
  }

  .hassticky #header {
    position: relative;
  }

  .slider-control > a {
    width: 55px;
    top: 50%;
  }

  .ce_sliderStart .ce_slider_text h3, .ce_sliderStart .ce_slider_text h2 {
    font-size: 18px;
  }

  .ce_sliderStart .ce_slider_text p {
    font-size: 14px;
  }

  .slider-control > .slider-menu {
    bottom: -15px;
  }

  .slider-control > .slider-menu b {
    width: 5px;
    height: 5px;
  }
}

@media screen and (max-width: 814px) {
  .menu-lists {
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .menu-lists > div {
    width: 100%;
  }

  .menu-logo {
    width: 55%;
  }

  .menu-logo > img {
    padding: 20px;
    box-sizing: border-box;
  }

  .menu-close {
    width: 45px;
  }
}
